<div id="page-container" class="header-fixed-top">
    <div id="main-container">
        <header class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav-custom">
                <li class="hidden-xs">
                    <a href="#">
                        <strong>BLOC CHAT</strong>
                    </a>
                </li>
            </ul>
        </header>
        <!-- /. HEADER -->
        <div id="page-content" class="inner-sidebar-left">
            <div id="page-content-sidebar">
                <div class="block-section">
                    <button ng-click="home.openNewRoom()" class="btn btn-block btn-success">
                        <i class="fa fa-pencil"></i>
                        Create Chat Room
                    </button>
                </div>
                <!-- /. header -->
                <div id="chat-nav" class="collapse navbar-collapse remove-padding">
                    <div class="block-section">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="room in home.rooms">
                                <a href="#" id="room-name" ng-click="home.storeRoomName(room)">{{ room.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- /. left sidebar -->

            <div class="block overflow-hidden" id="list-messages">
              <div class="block-title clearfix">
                <div class="block-options pull-left">
                  <div class="block-options-text">
                    {{ home.currentRoom.name }}
                  </div>
                </div>
              </div>
              <p ng-repeat="message in home.messages">
                <span class="chat-username"><strong>{{ message.username }}</strong></span> <span class="pull-right">{{ message.sentAt }}</span>
                <br />
                {{ message.content }}
              </p>
              <div id="new-message" ng-show="home.currentRoom !== null" style="margin-bottom: 10px;">
                <form ng-submit="home.sendMessage(home.newMessage, home.currentRoom)">
                  <textarea class="form-control push-10" placeholder="Your Message.." rows="5" ng-model="home.newMessage" title="message"></textarea>
                  <button class="btn btn-sm btn-primary" type="button" ng-click="home.sendMessage()">Send</button>
                </form>
              </div>
            </div>


        </div>
    </div>
</div>
